/* custom elements */
#navbar-logo {
    max-height: 43px;
}

#beta-city {
    font-size: 14px;
    color: red;
}

#img-color-city {
    max-width: 100%;
}

#google-img {
    max-width: 100%;
}

#weather-group {
    font-size: 100%;
    max-width: 100%;
}

.weather-button {
    font-size: 14px;
    font-weight: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}


#search-button, #refresh-button, #random-button {
    width: auto;
}

#twitter-logo {
    max-height: 59px;
}

#twitter-link {
    color: #55acee;
    font-weight: bold;
    font-size: 16px;
}

.twitter-image {
    max-width: 100%;
}

.twitter-date {
    color: #55acee;
    font-weight: bold;
}

@media (min-width: 767px) {
    #search-group {
	max-width: 70%;
    }
}


/* autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }


/* updates to bootstrap */
.panel-primary > .panel-heading {
    color: #317eac;
    background-color: #dddddd;
    line-height: 100%;
}

.panel-title > a {
    color: #317eac;
}

.panel-heading > h4 {
    line-height: 100%;
}

.jumbotron p {
    font-size: 16px;
}