/* custom elements */
#navbar-logo {
    max-height: 43px;
}

#img-color-city {
    max-width: 100%;
}

#google-img {
    max-width: 100%;
}

#weather-group {
    font-size: 100%;
    max-width: 100%;
}

@media (min-width: 767px) {
    #search-group {
	max-width: 70%;
    }
}

#search-button, #refresh-button, #random-buttom {
    width: 100px;
}


/* updates to bootstrap */
.panel-primary > .panel-heading {
    color: #317eac;
    background-color: #dddddd;
    line-height: 100%;
}

.panel-title > a {
    color: #317eac;
}

.panel-heading > h4 {
    line-height: 100%;
}

.jumbotron p {
    font-size: 16px;
}