<!DOCTYPE html>
<html lang="en">
  <head>
    <title>City Sketch</title>

    <!-- meta -->
    <meta charset = "utf-8">
    <meta name="description" content="City Sketch: find city snapshop">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <!-- START scripts -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Autocomplete: github.com/devbridge/jQuery-Autocomplete -->
    <script src="../static/js/jquery.autocomplete.js"></script>
    <!-- other -->
    <script src="../static/js/main.js"></script>
    
    
  </head>

  <body>
    <!-- start navbar  -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<!-- START Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" id="brand_icon" href="/">
	    <img id="navbar-logo" src="../static/img/City_Sketch_logo.png" alt="City Sketch logo"></a>
	</div>
	<!-- END Brand -->

	<!-- START .collapse links, dropdowns -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
	    <li><a href="/contact">contact us</a></li>
	  </ul>

	  {% block search_block %}{% endblock %}

	</div> <!-- END .collapse -->
      </div> <!-- END .container -->

    </nav>
    <!-- END .navbar  -->
    

    <!-- flashing messages -->
    <div class="container">
      <div class="col-sm-6 col-sm-offset-2">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class=flashes>
	  {% for message in messages %}
          <h3><span class="label label-info"> {{ message }} </span> </h3>
	  {% endfor %}
	</div>
	{% endif %}
	{% endwith %}
      </div>
    </div>
    
    <!-- body -->
    {% block body_block %}{% endblock %}


    <!-- footer -->
    <div class="container">
      <div class="row"> <!-- START footer -->
	<div class="col-sm-12">
	  <p>powered by
	    <a href="http://developer.nytimes.com/docs" target="_blank"> 
	      <img src="../static/img/NYT-logo.png" alt="NYT Developers logo" height="30px">
	    </a>
	    <a href="https://www.mediawiki.org/wiki/MediaWiki" target="_blank"> 
	      <img src="../static/img/Wiki-logo.png" alt="MediaWiki logo" height="50px">
	    </a>
	    <a href="http://openweathermap.org/api" target="_blank"> 
	      <img src="../static/img/OpenWeatherMap-logo.png" alt="OpenWeatherMap logo" height="30px">
	    </a>
	    <a href="https://developers.google.com/maps/" target="_blank"> 
	      <img src="../static/img/Google-Maps.png" alt="Google Maps API logo" height="30px">
	    </a>
	    <a href="https://dev.twitter.com/rest/public" target="_blank"> 
	      <img src="../static/img/Twitter-dev-logo.png" alt="Twitter API logo" height="30px">
	    </a>
	    <a href="https://timezonedb.com/api" target="_blank"> 
	      <img src="../static/img/Timezonedb.png" alt="Timezonedb logo" height="30px">
	    </a>

	  </p>
	</div> <!-- END col -->
      </div> <!-- END row 3 -->
    </div> <!-- END container -->
  </body>
</html>
