{% extends "base.html" %}


{% block search_block %}
{% endblock %}


{% block body_block %}

<!-- main container -->
<div class = "container">

  <div class="jumbotron"> <!-- START jumbotron -->

    <div class="row">
      <div class = "col-sm-8 col-sm-offset-2">
	<h1>Contact Us</h1>
      </div>
    </div>

    <div class="row">
      <form class = "form-horizontal" role = "form" action="{{ url_for('contact') }}" method="post">
	
	<div class = "form-group">
	  <label for = "name" class = "col-sm-2 control-label">Name</label>
	  <div class = "col-sm-10">
            <input type = "text" class = "form-control" name = "name" placeholder = "Enter Your Name">
	  </div>
	</div>
	
	<div class = "form-group">
	  <label for = "email-address" class = "col-sm-2 control-label">Email</label>
	  <div class = "col-sm-10">
            <input type = "text" class = "form-control" name = "email-address" placeholder = "Enter Your Email">
	  </div>
	</div>
	
	<div class = "form-group">
	  <label for = "message" class = "col-sm-2 control-label">Message</label>
	  <div class = "col-sm-10">
            <!-- <input type = "text" class = "form-control" name = "message" placeholder = "Enter Message"> -->
	    <textarea rows="5" class = "form-control" name = "message" placeholder = "Enter Message"></textarea>
	  </div>
	</div>

	<div class = "form-group">
	  <div class = "col-sm-offset-2 col-sm-10">
            <button type = "submit" class = "btn btn-primary" style="width: 200px" 
		    id="email-send-button">Send</button>
	  </div>
	</div>
      </div>
    </form>

    
  </div> <!-- END jumbotron -->

</div> <!-- END main container -->

{% endblock %}
