{% extends "main_template.html" %}

{% block body_block %}

<!-- main container -->
<div class = "container">
  <div class="row">
     <div class="col-sm-12">
       <h2>Site under construction! Expected launch: 3/2016</h2>
     </div> <!-- END col -->
  </div> <!-- END row -->
  
  <div class="row"> <!-- START row -->
    <div class="col-sm-6"> <!-- START col -->
      <h3>Twitter</h3>
      <div class="panel panel-primary">
	<div class="panel-heading">Latest update</div>
	<div class="panel-body">
	  Feed ...
	</div>
      </div>
    </div> <!-- END col -->

    <div class="col-sm-6"> <!-- START col -->
      <h3>Wiki search</h3>
      <div class="panel-group" id="wiki-accordion">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		Search to load Wiki overview</a>
	    </h4>
	  </div>
	  <div id="collapse1" class="panel-collapse collapse">
	    <div class="panel-body">
	      <!-- body -->
	    </div>
	  </div>
	</div>
	
	
      </div>

    </div> <!-- END col -->

  </div> <!-- END row -->
  
  <div class="row">
    <div class="col-sm-12">
      <img id="img-color-city" src="../static/img/color_city.png" alt="color city image">
    </div> <!-- END col -->
  </div> <!-- END row -->
  
</div> <!-- END main container -->

{% endblock %}
