<!DOCTYPE html>
<html lang="en">
  <head>
    <title>City Sketch</title>

    <!-- meta -->
    <meta charset = "utf-8">
    <meta name="description" content="City Sketch: find city snapshop">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <!-- stylesheet -->
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <!-- START scripts -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- other -->
    <script src="../static/js/main.js" async></script>
    
  </head>

  <body>
    <!-- start navbar  -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" id="brand_icon" href="/">
	    <img id="navbar_logo" src="../static/img/City_Sketch_logo.png" alt="City Sketch logo"></a>
	</div>

	<!-- links, dropdowns -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
	    <li><a href="/">home</a></li>
	    
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sources<span class="caret"></span></a>
	      <ul class="dropdown-menu">
		<li><a href="http://query.nytimes.com/search/sitesearch/?action=click&contentCollection&region=TopBar&WT.nav=searchWidget&module=SearchSubmit&pgtype=Homepage#/san francisco" target="_blank">
		    NYT</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="/">source2</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="/">source3</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="/">source4</a></li>
	      </ul>
	    </li>
	  </ul>

	  <!-- START search panel -->
	  <ul class="nav navbar-nav navbar-right">
	    <li>
	      <div class="panel panel-default">
		<div class="panel-body">		  
		  <form class="form-inline" role="form" id="search-form">
		    <div class="form-group">
		      <label for="text">Enter city</label>
		      <input type="text" class="form-control" id="city-input">
		    </div>
		    <button type="submit" class="btn btn-default" id="search-button">Search</button>
		  </form>
		</div>
	      </div>
	    </li>
	  </ul>
	  <!-- END search panel -->
	</div> <!-- END .collapse -->

      </div> <!-- END .container -->

    </nav>
    <!-- END .navbar  -->

    {% block body_block %}{% endblock %}
   
  </body>
</html>
