<!DOCTYPE html>
<html lang="en">
  <head>
    <title>City Sketch</title>

    <!-- meta -->
    <meta charset = "utf-8">
    <meta name="description" content="City Sketch: find city snapshop">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <!-- stylesheet -->
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <!-- START scripts -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- other -->
    <script src="../static/js/main.js" async></script>
    
    
  </head>
  <body>
    {% block navbar_block %}{% endblock %}
    {% block body_block %}{% endblock %}
   
  </body>
</html>
